In [1]:
import pandas as pd

In [2]:
md=pd.read_csv(r"C:\Users\acer\Desktop\ML\500_person_gender_height_weight_index.csv")

In [3]:
md

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
5      Male     189     104      3
6      Male     147      92      5
7      Male     154     111      5
8      Male     174      90      3
9    Female     169     103      4
10     Male     195      81      2
11   Female     159      80      4
12   Female     192     101      3
13     Male     155      51      2
14     Male     191      79      2
15   Female     153     107      5
16   Female     157     110      5
17     Male     140     129      5
18     Male     144     145      5
19     Male     172     139      5
20     Male     157     110      5
21   Female     153     149      5
22   Female     169      97      4
23     Male     185     139      5
24   Female     172      67      2
25   Female     151      64      3
26     Male     190      95      3
27     Male     187      62      1
28   Female     163     159      5
29     Male     179     152      5
..      ...     ...     ...    ...
470    Male     147     142      5
471    Male     154     112      5
472  Female     178      65      2
473    Male     195     153      5
474  Female     167      79      3
475    Male     183     131      4
476  Female     164     142      5
477    Male     167      64      2
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
483    Male     146      85      4
484  Female     188     115      4
485    Male     173     111      4
486  Female     160     109      5
487    Male     187      80      2
488    Male     198     136      4
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
494    Male     152      98      5
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [4]:
ix=pd.Series(["Extremely Weak","Weak","Normal"," Overweight","Obesity","Extreme Obesity"])

In [5]:
ix

0     Extremely Weak
1               Weak
2             Normal
3         Overweight
4            Obesity
5    Extreme Obesity
dtype: object

In [6]:
md.Gender[md.Gender=='Male']=1
md.Gender[md.Gender=='Female']=2

C:\Users\acer\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\acer\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [7]:
md.head(1)

  Gender  Height  Weight  Index
0      1     174      96      4

In [8]:
ghw=md.drop("Index",axis=1)
i=md["Index"]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
xtrain,xtest,ytrain,ytest=train_test_split(ghw,i,test_size=.30,random_state=101)

In [11]:
ghw.head()

  Gender  Height  Weight
0      1     174      96
1      1     189      87
2      2     185     110
3      2     195     104
4      1     149      61

In [12]:
xtrain.head()

    Gender  Height  Weight
202      2     156      89
428      2     153      77
392      2     183      76
86       2     175     141
443      1     152     146

In [13]:
#trainer
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [14]:
gt=GaussianNB()
mt=MultinomialNB()
bt=BernoulliNB()

In [15]:
gl=gt.fit(xtrain,ytrain)
ml=mt.fit(xtrain,ytrain)
bl=bt.fit(xtrain,ytrain)

In [16]:
p=gl.predict([[2,185,10]])
ix[p]

4    Obesity
dtype: object

In [17]:
g=ml.predict(([[2,185,110]]))
ix[g]

4    Obesity
dtype: object

In [18]:
ypg=gl.predict(xtest)
ypm=ml.predict(xtest)
ypb=bl.predict(xtest)

In [19]:
from sklearn.metrics import accuracy_score

In [35]:
acg=accuracy_score(ytest,ypg)*100
acm=accuracy_score(ytest,ypm)*100
acb=accuracy_score(ytest,ypb)*100

In [36]:
acc_table=pd.DataFrame({"accuracy":[acg,acm,acb]},index=["GaussianNB","MultinomialNB","BernoulliNB"])

In [37]:
acc_table

                accuracy
GaussianNB     73.333333
MultinomialNB  79.333333
BernoulliNB    42.000000

In [38]:
from sklearn.neighbors import KNeighborsClassifier

In [39]:
mo=KNeighborsClassifier()

In [40]:
k=mo.fit(xtrain,ytrain)

In [41]:
yk=k.predict(xtest)

In [42]:
ack=accuracy_score(ytest,yk)*100

In [43]:
ack

92.0

In [44]:
acc_table=pd.DataFrame({"accuracy":[acg,acm,acb,ack]},index=["GaussianNB","MultinomialNB","BernoulliNB","KNeighborsClassifier"])

In [45]:
acc_table

                       accuracy
GaussianNB            73.333333
MultinomialNB         79.333333
BernoulliNB           42.000000
KNeighborsClassifier  92.000000