In [1]:
import pandas as pd

In [3]:
md=pd.read_csv(r"C:\Users\student714\Desktop\AHTESHAM ZAIDI\500-person-gender-height-weight-bodymassindex\500_person_gender_height_weight_index.csv")

In [4]:
md.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [9]:
ix=pd.Series(["Extremely Weak","Weak","Normal"," Overweight","Obesity","Extreme Obesity"])

In [10]:
ix

0     Extremely Weak
1               Weak
2             Normal
3         Overweight
4            Obesity
5    Extreme Obesity
dtype: object

In [19]:
m = md[md["Gender"]=="Male"]

In [20]:
m

    Gender  Height  Weight  Index
0     Male     174      96      4
1     Male     189      87      2
4     Male     149      61      3
5     Male     189     104      3
6     Male     147      92      5
7     Male     154     111      5
8     Male     174      90      3
10    Male     195      81      2
13    Male     155      51      2
14    Male     191      79      2
17    Male     140     129      5
18    Male     144     145      5
19    Male     172     139      5
20    Male     157     110      5
23    Male     185     139      5
26    Male     190      95      3
27    Male     187      62      1
29    Male     179     152      5
30    Male     153     121      5
31    Male     178      52      1
37    Male     144      80      4
42    Male     157      56      2
43    Male     161     118      5
45    Male     185      76      2
47    Male     181     111      4
48    Male     161      72      3
49    Male     140     152      5
52    Male     163     110      5
53    Male     172     105      4
54    Male     196     116      4
..     ...     ...     ...    ...
438   Male     188      65      1
441   Male     182      73      2
442   Male     143     149      5
443   Male     152     146      5
445   Male     159     140      5
446   Male     146      70      4
449   Male     159     145      5
450   Male     162     157      5
453   Male     182      50      0
455   Male     176      77      2
458   Male     154      81      4
460   Male     179     123      4
461   Male     152     132      5
462   Male     179      56      1
465   Male     158     127      5
467   Male     145     142      5
468   Male     161     115      5
469   Male     198     109      3
470   Male     147     142      5
471   Male     154     112      5
473   Male     195     153      5
475   Male     183     131      4
477   Male     167      64      2
483   Male     146      85      4
485   Male     173     111      4
487   Male     187      80      2
488   Male     198     136      4
494   Male     152      98      5
498   Male     150      95      5
499   Male     173     131      5

[245 rows x 4 columns]

In [21]:
f=md[md["Gender"]=="Female"]

In [22]:
f

     Gender  Height  Weight  Index
2    Female     185     110      4
3    Female     195     104      3
9    Female     169     103      4
11   Female     159      80      4
12   Female     192     101      3
15   Female     153     107      5
16   Female     157     110      5
21   Female     153     149      5
22   Female     169      97      4
24   Female     172      67      2
25   Female     151      64      3
28   Female     163     159      5
32   Female     195      65      1
33   Female     160     131      5
34   Female     157     153      5
35   Female     189     132      4
36   Female     197     114      3
38   Female     171     152      5
39   Female     185      81      2
40   Female     175     120      4
41   Female     149     108      5
44   Female     182     126      4
46   Female     188     122      4
50   Female     168     135      5
51   Female     176      54      1
55   Female     187      89      3
58   Female     164      70      3
60   Female     191      54      0
61   Female     141     143      5
65   Female     179     158      5
..      ...     ...     ...    ...
444  Female     186     128      4
447  Female     176     121      4
448  Female     146     101      5
451  Female     172      90      4
452  Female     169     121      5
454  Female     183      79      2
456  Female     188     128      4
457  Female     175      83      2
459  Female     184     147      5
463  Female     145     141      5
464  Female     181      80      2
466  Female     188      99      3
472  Female     178      65      2
474  Female     167      79      3
476  Female     164     142      5
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
484  Female     188     115      4
486  Female     160     109      5
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5

[255 rows x 4 columns]

In [23]:
len(f)

255

In [24]:
len(m)

245

In [31]:
#male in each cat
m0=len(m[m["Index"]==0])
m1=len(m[m["Index"]==1])
m2=len(m[m["Index"]==2])
m3=len(m[m["Index"]==3])
m4=len(m[m["Index"]==4])
m5=len(m[m["Index"]==5])

In [33]:
#female in each cat
f0=len(f[f["Index"]==0])
f1=len(f[f["Index"]==1])
f2=len(f[f["Index"]==2])
f3=len(f[f["Index"]==3])
f4=len(f[f["Index"]==4])
f5=len(f[f["Index"]==5])

In [34]:
f0

7

In [35]:
m0

6

In [36]:
mc=pd.Series([m0,m1,m2,m3,m4,m5])
fc=pd.Series([f0,f1,f2,f3,f4,f5])

In [46]:
mfc=pd.DataFrame({"Male":mc,"Female":fc})

In [47]:
mfc

   Female  Male
0       7     6
1       7    15
2      41    28
3      36    32
4      71    59
5      93   105

In [56]:
pm0=245/m0
pm1=245/m1
pm2=245/m2
pm3=245/m3
pm4=245/m4
pm5=245/m5
pf0=255/f0
pf1=255/f1
pf2=255/f2
pf3=255/f3
pf4=255/f4
pf5=255/f5
pmlist=pd.Series([pm0,pm1,pm2,pm3,pm4,pm5])
pflist=pd.Series([pf0,pf1,pf2,pf3,pf4,pf5])

In [57]:
mfc["%Male"]=pmlist

In [58]:
mfc["%Female"]=pflist

In [59]:
mfc

   Female  Male      %Male    %Female
0       7     6  40.833333  36.428571
1       7    15  16.333333  36.428571
2      41    28   8.750000   6.219512
3      36    32   7.656250   7.083333
4      71    59   4.152542   3.591549
5      93   105   2.333333   2.741935

In [60]:
#Female ... calssification...model
f.head()

    Gender  Height  Weight  Index
2   Female     185     110      4
3   Female     195     104      3
9   Female     169     103      4
11  Female     159      80      4
12  Female     192     101      3

In [70]:
fhwi=f.drop("Gender",axis=1)
mhwi=m.drop("Gender",axis=1)

In [71]:
mhwi

     Height  Weight  Index
0       174      96      4
1       189      87      2
4       149      61      3
5       189     104      3
6       147      92      5
7       154     111      5
8       174      90      3
10      195      81      2
13      155      51      2
14      191      79      2
17      140     129      5
18      144     145      5
19      172     139      5
20      157     110      5
23      185     139      5
26      190      95      3
27      187      62      1
29      179     152      5
30      153     121      5
31      178      52      1
37      144      80      4
42      157      56      2
43      161     118      5
45      185      76      2
47      181     111      4
48      161      72      3
49      140     152      5
52      163     110      5
53      172     105      4
54      196     116      4
..      ...     ...    ...
438     188      65      1
441     182      73      2
442     143     149      5
443     152     146      5
445     159     140      5
446     146      70      4
449     159     145      5
450     162     157      5
453     182      50      0
455     176      77      2
458     154      81      4
460     179     123      4
461     152     132      5
462     179      56      1
465     158     127      5
467     145     142      5
468     161     115      5
469     198     109      3
470     147     142      5
471     154     112      5
473     195     153      5
475     183     131      4
477     167      64      2
483     146      85      4
485     173     111      4
487     187      80      2
488     198     136      4
494     152      98      5
498     150      95      5
499     173     131      5

[245 rows x 3 columns]

In [72]:
#female input and target
fhw=fhwi.drop("Index",axis=1)
fi=fhwi["Index"]
#male input and taregt
mhw=mhwi.drop("Index",axis=1)
mi=mhwi["Index"]

In [80]:
#female data fhw(feature) and fi(target)
from sklearn.model_selection import train_test_split

In [81]:
fxtrain,fxtest,fytrain,fytest=train_test_split(fhw,fi,test_size=.20,random_state=10)
mxtrain,mxtest,mytrain,mytest=train_test_split(mhw,mi,test_size=.20,random_state=10)

#learner trainer data

In [82]:
from sklearn.neighbors import KNeighborsClassifier

In [83]:
#female classification
ft=KNeighborsClassifier()

In [84]:
fm=ft.fit(fxtrain,fytrain)

In [85]:
#male classification
mt=KNeighborsClassifier()
ml=mt.fit(mxtrain,mytrain)

In [105]:
#prediction
pm=ml.predict([[145,160]])
ix[pm]

5    Extreme Obesity
dtype: object

In [91]:
pm

array([5], dtype=int64)

In [94]:
from sklearn.metrics import accuracy_score

In [95]:
yfa=fytest
yma=mytest

In [96]:
ypm=ml.predict(mxtest)

In [97]:
ypf=fm.predict(fxtest)

In [100]:
macc=float(accuracy_score(yma,ypm))*100

In [101]:
facc=float(accuracy_score(yfa,ypf))*100

In [102]:
print("male accuracy is{} female accuracy {}".format(macc,facc))

male accuracy is89.79591836734694 female accuracy 92.15686274509804